<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>


    <!-- css files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    {% block style %}
    {% endblock %}


    <!-- icons -->
    <link rel="stylesheet" href="{% static 'css/boxicons.min.css' %}">


    <!-- script -->
    <script src="{% static 'js/jquery-3.4.0.min.js' %}"></script>
    <script src="{% static 'js/connectapp.js' %}"></script>
    
</head>

<body>
    <div class="wrapper">
        <div class="sidebar-container h-100">
            <div class="sidebar-body h-100">
                <div class="sidebar-content">
                    <div class="userProfile py-4">
                        <!-- <h1 class="site-brand">ZetaShare</h1> -->
                    </div>
                    <ul class="data">
                        <li class="mx-2 mb-4">
                            <a href="{% url 'zets:dashboard' %}" class="active">
                                <i class='bx bxl-squarespace' style="font-size: 30px;"></i>
                                <span class="text-muted ml-3">Dashboard</span>
                            </a>
                        </li>
                        <li class="mx-2 mb-4">
                            <a href="{% url 'zets:connectApp' %}">
                                <i class='bx bx-link' style="font-size: 30px;"></i>
                                <span class="text-muted ml-3">Connect App</span>
                            </a>
                        </li>
                        <li class="mx-2 mb-4">
                            <a href="{% url 'zets:card' %}">
                                <i class='bx bxs-collection' style="font-size: 30px;"></i>
                                <span class="text-muted ml-3">Create Post</span>
                            </a>
                        </li>
                        <li class="mx-2 mb-4">
                            <a href="#">
                                <i class='bx bxs-bell bx-tada' style="font-size: 30px;"></i>
                                <span class="text-muted ml-3">Schedule</span>
                            </a>
                        </li>
                        <li class="mx-2 mb-4">
                            <a href="#">
                                <i class='bx bxs-phone bx-tada' style="font-size: 30px;"></i>
                                <span class="text-muted ml-3">Contact</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- main menu -->
        <div class="main-menu">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light" style="justify-content: space-between;">
                    <a class="navbar-brand" href='{% url "main:home" %}'>ZetaShare</a>
                    <!-- on user login profile  -->
                    <div class="btn-group" id="user-info">
                        <button type="button" class="dropdown" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" style="border: 0;background: #f8f9fa;outline:none;cursor: pointer;">
                            <img src="{% static 'images/profile.png' %}" alt="profilepic" id="user_profile_img"
                                width="50px" height="50px" style="border: 3px solid #e0e0e0;border-radius: 50%;">
                            <span class="username" id="logged_user_name">{{ user.first_name }} {{ user.last_name }}</span>
                            <i class="bx bx-chevron-down" style="color:#151111"></i>
                        </button>

                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                            style="position: absolute;will-change: transform; top: 0; left: 0; transform: translate3d(-22px, 56px, 0px);">

                            <a class="dropdown-item" href="{% url 'zets:profile' %}">
                                <i class="bx bx-user bx-flip-horizontal"></i>
                                <span>Profile</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="bx bx-wrench bx-tada bx-flip-horizontal"></i>
                                <span>Setting</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item glog" href="{% url 'main:logout' %}" style="color: red;">
                                <i class="bx bx-power-off bx-flip-horizontal"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </header>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" style="margin-left: 46px; margin-right: 20px;">
                    {{ message }}
                </div>
                {% endfor %}
            </ul>
            {% endif %}


            {% block content %}
            {% endblock %}
        </div>
    </div>



    <!-- bootstrap and jquery -->

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/zets.js' %}"></script>
    {% block script %}
    {% endblock %}

</body>

</html>