{% extends 'zets/app-index.html' %}
{%  load static %}
{% block title %}Post Card{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/postcard.css' %}">
{% endblock %}


{% block content %}
<div class="wrapper" style="margin-left: 550px">
    <form method="post" action="" id="post-form">
        {%  csrf_token %}
        <div class="card my-5" style="width: 18.5em;">
            <img src="" id="image_preview" alt="">

            <div class="button_upload" type="button">
                <input type="file" name="postimage" id="post" style="display: none;">
                <label for="post" role="button" class="my-0" onload="imagePreview()">
                    <i class='bx bx-upload'></i>
                </label>
            </div>
            <hr class="my-0">
            <div class="card-body p-3">
                <textarea name="post-content" id="post-content" rows="5"
                    placeholder="Write your post caption..."></textarea>
            </div>
            <div class="schedule-button">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary button dropdown-toggle" id="random-schedule"> Random Schedule </button>
                            <div class="random-schedule-dropdown-menu">
                                <div class="drop-item">
                                    <label for="fbSchedule">Facebook</label>
                                    <input type="checkbox" name="schedule-fb" class="app-checkbox" id="fbSchedule" onclick="scheduletimedate(this)" >
                                    <div class="schdule-event">
                                        <div class="dropdown-divider"></div>
                                        <label for="fbSchedule-date"class="event-title">Date</label>
                                        <br>
                                        <input type="date" name="fbSchedule-date" id="fbSchedule-date">
                                        <br>
                                        <label for="fbSchedule-time" class="event-title mt-2">Time</label>
                                        <br>
                                        <input type="time" name="fbSchedule-time" id="fbSchedule-time">
                                    </div>
                                </div>

                                <div class="dropdown-divider"></div>

                                <div class="drop-item">
                                    <label for="lnSchedule">LinkedIn</label>
                                    <input type="checkbox" name="schedule-ln" class="app-checkbox" id="lnSchedule" onclick="scheduletimedate(this)"> 
                                    <div class="schdule-event">
                                        <div class="dropdown-divider"></div>
                                        <label for="fbSchedule-date"class="event-title">Date</label>
                                        <br>
                                        <input type="date" name="fbSchedule-date" id="fbSchedule-date">
                                        <br>
                                        <label for="fbSchedule-time" class="event-title mt-2">Time</label>
                                        <br>
                                        <input type="time" name="fbSchedule-time" id="fbSchedule-time">
                                    </div>
                                </div>
                                
                                <div class="dropdown-divider"></div>

                                <div class="drop-item">
                                    <label for="instaSchedule">Instagram</label>
                                    <input type="checkbox" name="schedule-insta" class="app-checkbox" id="instaSchedule" onclick="scheduletimedate(this)">
                                    <div class="schdule-event">
                                        <div class="dropdown-divider"></div>
                                        <label for="fbSchedule-date"class="event-title">Date</label>
                                        <br>
                                        <input type="date" name="fbSchedule-date" id="fbSchedule-date">
                                        <br>
                                        <label for="fbSchedule-time" class="event-title mt-2">Time</label>
                                        <br>
                                        <input type="time" name="fbSchedule-time" id="fbSchedule-time">
                                    </div>
                                </div>

                                <div class="dropdown-divider"></div>
                                <div class="drop-item">
                                    <button class="btn btn-success">Post</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger sbutton dropdown-toggle" id="single-schedule"> Single Schedule                            </button>
                            <div class="single-schedule-dropdown-menu">
                                <div class="schdule-event drop-item">
                                    <div class="dropdown-divider"></div>
                                    <label for="fbSchedule-date"class="event-title">Date</label>
                                    <br>
                                    <input type="date" name="fbSchedule-date" id="fbSchedule-date">
                                    <br>
                                    <label for="fbSchedule-time" class="event-title mt-2">Time</label>
                                    <br>
                                    <input type="time" name="fbSchedule-time" id="fbSchedule-time">
                                </div>

                                <div class="dropdown-divider"></div>

                                <div class="drop-item">
                                    <label for="fbSchedule">Facebook</label>
                                    <input type="checkbox" name="schedule-fb" class="app-checkbox" id="fbSchedule" onclick="scheduletimedate(this)" >
                                </div>

                                <div class="drop-item">
                                    <label for="lnSchedule">LinkedIn</label>
                                    <input type="checkbox" name="schedule-ln" class="app-checkbox" id="lnSchedule" onclick="scheduletimedate(this)"> 
                                </div>

                                <div class="drop-item">
                                    <label for="instaSchedule">Instagram</label>
                                    <input type="checkbox" name="schedule-insta" class="app-checkbox" id="instaSchedule" onclick="scheduletimedate(this)">
                                </div>
                                <div class="drop-item">
                                    <button class="btn btn-success">Post</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/postcard.js' %}"></script>
{% endblock %}