{% extends 'zets/app-index.html' %}
{%  load static %}

{% block title %}Connect | ZetaShare{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/CreateApp.css' %}">
{% endblock %}

{% block content %}
<div class="main-app">
    <div class="create-app">
        <h1 class="title text-muted">Choose Your Apps To Connect</h1>
        <div class="app-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card my-4">
                            <!-- facebook -->
                            <div class="app-img">
                                <div class="img-bg" style="background-color: #fcc3cd;">
                                    <img src="{% static 'images/facebook.png' %}" alt="facebook">
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Facebook</h5>
                                <button class="btn btn-primary my-3" id="fbconnect"
                                    onclick="CreateFacebookApp()"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card my-4">
                            <!-- instagram -->
                            <div class="app-img">
                                <div class="img-bg" style="background-color: #FFEB3B;">
                                    <img src="{% static 'images/instagram.png' %}" alt="instagram">
                                </div>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Instagram</h5>
                                <button class="btn btn-primary my-3" onclick="fetchAppList()">Connect Your App</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card my-4">
                            <!-- Linkdin -->
                            <div class="app-img">
                                <div class="img-bg" style="background-color: #1fe0ff8c;">
                                    <img src="{% static 'images/linkedin.png' %}" alt="linkedin">
                                </div>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Linkdin</h5>
                                <button class="btn btn-primary my-3"
                                    onclick="window.open('https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=864p2i6fecc0u6&redirect_uri=https%3A%2F%2Flocalhost%3A8000%2Fapp%2Flinkedin-oauth2%2Fcallback&state=oath-linkedin&scope=r_liteprofile,r_emailaddress,w_member_social', '_blank', 'height=675, width=550, top=200, left=750')">
                                    Connect Your App
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card my-4">
                            <!-- Twitter -->
                            <div class="app-img">
                                <div class="img-bg" style="background-color: #6bdb4f8c;">
                                    <img src="{% static 'images/twitter.png' %}" alt="Twitter">
                                </div>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Twitter</h5>
                                <button class="btn btn-primary my-3">Connect Your App</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="createdApp">
        <ul class="applist" id="setup-app" style="list-style: none;">
            {% for face in facebook %}
            <li class="app-list-item">
                <div class="app-mainconatiner d-flex my-3 p-3">
                    <div class="app-icon">
                        <img src="{% static 'images/icons8-facebook-50.png' %}" alt="facebook-icon" width="40px"
                            height="40px">
                    </div>
                    <div class="app-info px-4" style="flex:1;">
                        <div class="button-acc w-100 d-flex" style="align-items: center;">
                            <i class='bx bx-pencil'></i>
                            <div class="acc-name pl-1">
                                <input type="text" placeholder="Account Name" class="account-name" value="{{ face.page_name }}">
                            </div>
                        </div>
                        <div class="divider"></div>
                        <span class="app-createdAt">Added On: {{ face.added_on }}</span>
                    </div>
                    <div class="app-button mx-5">

                        <div class="btn btn-danger px-4 mr-3">Disconnect</div>

                    </div>
                </div>
            </li>
            {% endfor %}

            <!-- linkdin -->
        {% for link in linkedin %}
            <li class="app-list-item">
                <div class="app-mainconatiner d-flex my-3 p-3">
                    <div class="app-icon">
                        <img src="{% static 'images/linkedin.png' %}" alt="facebook-icon" width="40px" height="40px">
                    </div>
                    <div class="app-info px-4" style="flex:1;">
                        <div class="button-acc w-100 d-flex" style="align-items: center;">
                            <i class='bx bx-pencil'></i>
                            <div class="acc-name pl-1">
                                <input type="text" placeholder="Account Name" class="account-name" value="{{ link.linkedin_id }}">
                            </div>
                        </div>
                        <div class="divider"></div>
                        <span class="app-createdAt">Added On: {{ link.added_on }}</span>
                    </div>

                    <div class="app-button mx-5">
                        {%  if today.date >= link.token_expiration_date %}
                            <div class="btn btn-primary px-4">Reconnect</div>
                        {% endif %}
                        <div class="btn btn-danger px-4 mr-3">Disconnect</div>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}