<!DOCTYPE html>
<html lang="en">


{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeta Share</title>
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- icons -->
    <link rel="stylesheet" href="{% static 'css/boxicons.min.css' %}">
</head>

<body>

    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Zeta Share</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto" id="app-nav">
                        <li class="nav-item active mx-3">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="#">About us</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="#">Plans</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="#">Explore</a>
                        </li>
                    </ul>
                    <div class="auth-button" onclick="slidertoggle()">

                        <i class='bx bxs-user-circle' style="font-size:2.5rem;cursor: pointer;"></i>

                    </div>
                </div>
            </nav>
        </header>

        <div class="section-0">
            <div class="login-sidebar h-100">
                <div class="sidebar-position p-4">
                    <div id="sider-data">

                        <div class="auth-data">
                            <form id="auth-data">
                                <input type="text" placeholder="Email" name="userEmail">
                                <input type="password" placeholder="password" name="userPassword">
                                <button class="authbar-button btn -btn-primary w-100"
                                    style="color:white;background:#cd2828">Login</button>
                                <a href="#" id='signup'>click for sign up</a>
                            </form>
                        </div>

                        <div class="signup-user">
                            <form id="signup-user">

                                {{form.first_name}}
                                {{form.last_name}}
                                {{form.username}}
                                {{form.email}}
                                {{form.password1}}
                                {{form.password2}}
                                <label class="log"> click here for <a id="login" class="pl-1" style="color: black;">
                                        login</a></label>
                            </form>
                        </div>

                        <button class="authbar-button btn w-100 mt-3"
                            style="background: #0e55a0;border-color: #0e55a0;">
                            <img src="{% static 'images/icons8-facebook-50.png' %}" alt="facebook icon" width="25px"
                                class="mr-2">
                            Facebook Login
                        </button>
                        <button class="authbar-button btn w-100 mt-3"
                            style="background: #e83434;border-color: #e83434;">
                            <img src="{% static 'images/icons8-google-50.png' %}" alt="Google icon" width="25px"
                                class="mr-2">
                            Google Login
                        </button>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- section 1 backgroung image -->

        <div class="section-1">
            <div class="bg-image-container">
                <div class="container-fluid row">
                    <div class="container-content col-sm-6" style="padding: 6rem !important;">
                        <div class="caption">
                            <h1 class="text-color">WELCOME </h1>
                            <h3 class="text-color">TO</h3>
                            <h1 class="text-color"> ZETA SHARE</h1>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="caption-btn" style="margin-top: 200px;">
                            <div class="btn btn-outline-warning mr-3" style="width: 150px;">SEE PLANS</div>
                            <div class="btn btn-info" style="width: 150px;">GET STARTED</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- bootstrap and jquery -->
        <script src="{% static 'js/jquery-3.4.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'js/myapp.js' %}"></script>
</body>

</html>