<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id"
        content="803712653771-6s44sbjjln95os5b1cis6e1u2cblkseb.apps.googleusercontent.com">
    <title>ZetaShare</title>
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- icons -->
    <link rel="stylesheet" href="{% static 'css/boxicons.min.css' %}">
    <!-- social authentication -->
    <script src="{% static 'js/socialauth.js' %}"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href={% url 'main:home' %}>Zeta Share</a>
                {% if user.is_authenticated %}
                    {{user}}<a href="{% url 'main:logout' %}">logout</a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto" id="app-nav">
                        <li class="nav-item active mx-3">
                            <a class="nav-link" href='{% url "main:home" %}'>Home</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="#">About us</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="#">Plans</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="#">Explore</a>
                        </li>
                    </ul>
                    <div class="auth-button" onclick="slidertoggle()">
                        <div class="default-data">

                            <span class="text-muted" style="font-size: 0.8rem; font-weight: 600;">Login/Signup</span>

                        </div>

                        <!-- on user signed to website -->
                        <div class="btn-group" id="user-info" style="display:none">
                            <button type="button" class="dropdown" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" style="border: 0;background: #f8f9fa;outline:none;cursor: pointer;">
                                <img src="{% static 'images/profile.png' %}" alt="profilepic" id="user_profile_img"
                                     width="50px" height="50px" style="border: 3px solid #e0e0e0;border-radius: 50%;">
                                <span class="username" id="logged_user_name"></span>
                                <i class="bx bx-chevron-down" style="color:#151111"></i>
                            </button>

                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                                style="position: absolute;will-change: transform; top: 0; left: 0; transform: translate3d(-22px, 56px, 0px);">

                                <a class="dropdown-item" href="#">
                                    <i class="bx bx-user bx-flip-horizontal"></i>
                                    <span>Profile</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="bx bx-wrench bx-tada bx-flip-horizontal"></i>
                                    <span>Setting</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item glog">
                                    <i class="bx bx-power-off bx-flip-horizontal"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" style="width: 98%">
                {{ message }}
            </div>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="section-0">
            <div class="login-sidebar h-100">
                <div class="sidebar-position p-4">
                    <div id="sider-data">

                        <div class="auth-data">

                            <form id="auth-data" method="post" data-url={% url 'main:login' %} onsubmit="loginSubmit()">
                                {% csrf_token %}
                                <div class="error">
                                    <p id="userErrLog" style=" display: none; color: red; position: absolute;font-size: 10px;top: 23px;font-weight: 600;"></p>
                                    <p id="passwordErrLog" style=" display: none; color: red; position: absolute;font-size: 10px;top: 90px;font-weight: 600;"></p>
                                    <p id="emailErrLog" style=" display: none; color: red; position: absolute;font-size: 10px;top: 146px;font-weight: 600;"></p>
                                </div>
                                {{ login.username }}
                                {{ login.password }}
                                <button class="authbar-button btn -btn-primary w-100" style="color:white;background:#cd2828">Login</button>
                                <a href="{% url 'password_reset' %}">Forgot password</a>
                                <a href="#" id='signup'> Sign Up</a>
                            </form>
                        </div>

                        <div class="signup-user">

                            <form id="signup-user" method="post" data-url='{% url 'main:register' %}'>
                                {% csrf_token %}
                                <div class="error">
                                    <p id="userErr" style=" display: none; color: red; position: absolute;font-size: 10px;top: 90px;font-weight: 600;"></p>
                                    <p id="emailErr" style=" display: none; color: red; position: absolute;font-size: 10px;top: 158px;font-weight: 600;"></p>
                                    <p id="password2err" style=" display: none; color: red; position: absolute;font-size: 10px;top: 294px;font-weight: 600;"></p>
                                </div>
                                {{ signup.first_name }}
                                {{ signup.last_name }}
                                {{ signup.username }}
                                {{ signup.email }}
                                {{ signup.password1 }}
                                {{ signup.password2 }}

                                <button class="authbar-button btn -btn-primary w-100"
                                    style="color:white;background:#cd2828">Sign Up</button>

                                <label class="log">Already have an account? <a id="login" class="pl-1">
                                       Login</a></label>
                            </form>
                        </div>




                        <div class="fb-login-button mt-3" data-size="large" data-button-type="continue_with"
                            data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"
                            data-width="" onLogin="checkLoginState()"></div>

                        <!-- google login button -->
                        <div class="g-signin2 mt-3" id="googleauth"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- section 1 backgroung image -->

        <div class="section-1">
            <div class="bg-image-container">
                <div class="container-fluid row">
                    <div class="container-content col-sm-6" style="padding: 6rem !important;">
                        <div class="caption">
                            <h1 class="text-color">WELCOME </h1>
                            <h3 class="text-color">TO</h3>
                            <h1 class="text-color"> ZETA SHARE</h1>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="caption-btn" style="margin-top: 200px;">
                            <div class="btn btn-outline-warning mr-3" style="width: 150px;">SEE PLANS</div>
                            <div class="btn btn-info" style="width: 150px;">GET STARTED</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- bootstrap and jquery -->
    <script src="{% static 'js/jquery-3.4.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/frontliner.js' %}"></script>

</body>

</html>