.button_upload {
    background: white;
    position: absolute;
    bottom: 225px;
    right: 25px;
    z-index: 100;
    box-shadow: 0 0 3px 1px #d0c8c8;
    padding: 0 6px;
    border-radius: 50%;
}

.button_upload label {
    cursor: pointer;
}

#image_preview {
    height: 15em;
    object-fit: fill;
    background: #f66cc3;
}

#post-content {
    width: 100%;
    resize: none;
    font-size: 12px;
    background: #f8f8ed;
    border-color: #f0eaea;
    outline: none;
}

.social-icon button {
    outline: none;
    padding: 0;
    box-shadow: none;

}

.social-icon button:focus {
    box-shadow: none;
}

#checked {
    font-weight: 900;
    color: #167f3a;
    bottom: 28px;
    font-size: 21px;
    z-index: 150;
    position: absolute;
    margin: -3px -10px;
}

/* scheduling button */
.bg-img-1{
    background-image: url('../images/postbg2.png');
    width: 100%;
    height: 100px;
    box-shadow: 0 0 5px 1px #e4e4e4b3;
}

.bg-img-2{
    background-image: url('../images/postbg2.png');
    width: 100%;
    height: 100px;
}

.bg-img-3{
    background-image: url('../images/postbg3.jpeg');
    opacity: 0.8;
    width: 100%;
    height: 100px;
}
.bg-img-3:hover{
    opacity: 1;
}
.card-content{
    text-align: center;
    padding: 10px 0;
    color: white;

}
.card-content .card-icon{
    text-align: center;
    display: block;
    font-size: 28px;
}
.card-content .card-title{
    text-align: center;
    display: block;
}


/* dropdown */
#form-postnow label{
    font-family: monospace;
    font-weight: 600;
    font-size: 14px;
    padding-left: 12px;
}
.post-button{
    width: 100%;
    border: 0;
    box-shadow: none;
    outline: none;
    padding: 0;
}
.postimgupload .btn{
    width: 100%;
    border-radius: 10px;
    height: 60px;
    z-index: 100;
    box-shadow: none;
}

.postimgupload #postimg{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 1rem;
    opacity: 0;
}
.post-caption-container textarea{
    width: 100%;
    resize: none;
    border-radius: 16px;
    border: 1.5px solid #c5c1c1;
    box-shadow: none;
    outline: none;
    padding: 5px 10px;
}
.app-title{
    font-family: monospace;
    font-weight: 600;
    font-size: 14px;
    padding-left: 12px;
}
.types-item{
    padding: 5px;
    margin-right: 10px;
    width: 154px;
    justify-content: center;
    font-weight: 600;
}
.types-item .logo{
    width:30px;
    height: 30px;
}

.types-item input[type="checkbox"]{
    margin: 0px 0 0 16px;
}

.pages-dropdown{
    display:none
}
.pages-dropdown.show{
    display:block
}

.Scheduledatetime input{
    width: 175px;
    font-size: 14px;
    padding-left: 8px;
    border: 2px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.65);
}